*~
*.log
*.tmp
*.bak
*.iml

*.jar
*.war
*.ear
*.class

*/target/*
*target/*

!.gitignore
!.gitattributes
.mvn
mvnw*

.springBeans
.eclipse-pmd
*.tmp
*.bak
*.swp
*~.nib
*.iml
*.ipr
*.iws
*.log
*.epoch
*.launch
.idea
.DS_Store
.ekstazi
.settings
.factorypath
.pmd
.metadata
.gradle
.loadpath
.project
.externalToolBuilders/
.cproject
.classpath
.factorypath
.buildpath
.target
.checkstyle
.texlipse

id_file
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

# java .gitignore
*.class
*.jar
*.war
*.ear
hs_err_pid*

dependency-reduced-pom.xml
local.properties
/.apt_generated/
/target/
